<div class="row py-3">
    <div class="col" id="chart"></div>
    <div class="col-4 row ms-1 bg-light-black py-3">
        <div class="col-12 text-center text-white">
            <h1>BITCOIN/USD</h1>
            <hr>
        </div>
        <div class="col-12">
            <div class="input-group my-3">
                <input type="text" placeholder="Precio" class="form-control">
                <span class="input-group-text" id="basic-addon2">USD</span>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Cantidad" class="form-control">
                <span class="input-group-text" id="basic-addon2">BTC</span>
            </div>
        </div>
        <div class="btn-group col-12 my-3" role="group">
            <button class="btn btn-dark btn-outline-success w-100 fs-3">BUY</button>
            <button class="btn btn-dark btn-outline-danger w-100 fs-3">SELL</button>
        </div>
    </div>
</div>