<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md mb-3 mb-md-0">
                <span class="fs-4">About Us</span><br>
                Legal<br>
                Terms<br>
                Privacy<br>
                Risk Warning<br>
                Announcements<br>
                News<br>
                Notices<br>
                Sitemap<br>
                Cookie Preferences<br>
            </div>
            <div class="col ">
                <span class="fs-4">Products</span><br>
                Exchange<br>
                Academy<br>
                Research<br>
                Trust Wallet<br>
                NFT<br>
                Binance Pay<br>
            </div>
            <div class="col-6 col-md mt-3 mt-md-0">
                <span class="fs-4">Support</span><br>
                Request a Feature<br>
                Support Center<br>
                24/7 Chat Support<br>
                Fees<br>
                Trading Rules<br>
                Binance Verify<br>
            </div>
            <div class="col col-md-2 mt-3 mt-md-0">
                <span class="fs-4">Community</span><br>
                <div class="row mt-2 gy-4">
                    <div class="col-3">
                        <i class="bi bi-discord"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-twitter"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-twitch"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-youtube"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-tiktok"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-telegram"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">Cryptex © 2023</div>
    </div>
</footer>