<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">CRYPTEX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/market">Market</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact Us</a>
                </li>
            </ul>
            <div>
                <button class="btn btn-outline-warning border-0 me-2" (click)="changeLanguage()"><i class="bi bi-translate"></i></button>
                <button class="btn btn-outline-warning me-2" routerLink="/login" *ngIf="!login">Log In</button>
                <button class="btn btn-warning btn-outline-dark" routerLink="/register" *ngIf="!login">Register</button>
                <button class="btn btn-outline-warning me-2" routerLink="/profile" *ngIf="login"><i class="bi bi-person"></i></button>
                <button class="btn btn-outline-warning" (click)="logout()" *ngIf="login">Log Out</button>
            </div>
        </div>
    </div>
</nav>