/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(0,0,0);
}
.bg-dark-grey{
    background-color: rgb(15,15,15);
}
.bg-black{
    background-color: rgb(0,0,0);
}
.primary-color{
    background-color: #80ff00;
    /* background-color: #fff700; */
}
.secondary-color{
    background-color: #0a1400;
    /* background-color: #0f122f; */
}
.accent-color{
    background-color: #b0ff61;
}